
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 18px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;

}


#mySidenav a:hover {
  left: 0;

}

#about {
  top: 20px;
  background-color: #1909a5;
  box-shadow: 0 1px 6px rgb(38, 10, 196);
}

#blog {
  top: 80px;
  background-color: #2196F3;
  box-shadow: 0 1px 6px rgb(4, 183, 238);
}

#projects {
  top: 140px;
  background-color: #f44336;
  box-shadow: 0 1px 6px rgb(255, 4, 67);
}

#contact-tn{
  top: 200px;
  /* top: 33%; */
  background-color: rgb(50, 21, 216);
  box-shadow: 0 1px 6px rgb(4, 42, 255);
}